# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [66]:
list = [1,2,3,4,5,6,7,8,9]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [67]:
nombers_tuple = ('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [68]:
numbers = [10, 20, 30, 40]
numbers_tuple = tuple(numbers)
print(numbers_tuple)

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [69]:
another_list = [1,2,3,4]
container = set(another_list)
print(container)

{1, 2, 3, 4}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [70]:
students = {'name' : "LEKOUNDA" , 'age' : 30 , 'grade' : 'Master'}
print(students)

{'name': 'LEKOUNDA', 'age': 30, 'grade': 'Master'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [71]:
mylist = [10, 20, 30, 40, 50]
print(mylist[1])

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [72]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango" 
print(fruits)

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [73]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [74]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [75]:
range_number = range(10)

print(range_number)

range(0, 10)

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [76]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [77]:
cbcb  = (1,2,2)
cbcb

(1, 2, 2)

In [78]:
numbers_tuple = tuple(num for num in range(2, 11) if num % 2 == 0)
numbers_tuple

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [79]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [80]:
numbers = {1, 2, 3, 4, 5}

print(numbers)
numbers.add(3)
print(numbers)

# Adding a new element
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [81]:
numbers = (10, 20, 30)
print(len(numbers))

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [82]:
cores = [80, 85, 90, 95]
cores.append(100)
print(cores)

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [83]:
def sum_list_elements(input_list):
      total = 0
      for item in input_list:
        total = total + item
      return total


my_numbers = [10, 20, 30, 40, 50]

result = sum_list_elements(my_numbers)
print(f"The sum of the elements in the list is : {result}")

The sum of the elements in the list is : 150

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [84]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers_set = set(numbers)
print(unique_numbers_set)

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [85]:
my_string = "hello"
char_list = list(my_string)
print(char_list)

TypeError: 'list' object is not callable

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [ ]:
number_tuple= (1,2,3,4)
print(number_tuple[::-1])

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [ ]:
squares_dict = {num : num**2 for num in range(1, 6)}
print(squares_dict)

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [ ]:
dictA = {"a": 15, "b":25 , "c":20, "d":26, "e" :15 }

for key, value in dictA.items():
    print(f"{key}: {value}")

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [ ]:
print(chr(65)+chr(66)+chr(67)+chr(68)+chr(69))
lowercase_alphabet = [chr(i) for i in range(65,69)]
uppercase_alphabet = [chr(i) for i in range(65,69)]
print(lowercase_alphabet)
print(uppercase_alphabet)

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [ ]:
listA = [1,2,3]
key = ["a", "b", "c"]
res=zip(listA,key)
print(list(res))

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [ ]:
listB=[10, 20, 30, 40, 50]
print(listB.index(50))

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [ ]:
names = ["Alice", "Bob", "Franck", "Charlie", "David"]
names.sort()
print(names)

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [ ]:
def find_largest_number(numbers):
    if not numbers:
        raise ValueError("The input list cannot be empty.")
  
    largest_num = numbers[0]  # Initialize with the first element
    for num in numbers:
        if num > largest_num:
            largest_num = num
    return largest_num

list_intergers = [1,2,4,6,9,7,8]
largestnumber = find_largest_number(list_intergers)
print(largestnumber)

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [ ]:
fruits = ["apple", "banana", "apple", "orange"]
print(fruits.count("apple"))

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [ ]:
person = {"name": "Alice","age": 25,"city": "New York"}
print(person["city"])

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [ ]:
def remove_duplicates(input_list):
    return list(set(input_list))

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [ ]:
def intersection_of_lists(list1, list2):
    return list(set(list1) & set(list2))    
listA = [1, 2, 3, 4, 5]
listB = [4, 5, 6, 7, 8]
common_elements = intersection_of_lists(listA, listB)
print(common_elements)

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [ ]:
def square_generator():
    for i in range(1, 11):
        yield i ** 2
for square in square_generator():
    print(square)

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [ ]:
def sum_dict_values(data):
    return sum(data.values())


my_dict = {"a": 10, "b": 20, "c": 30}
total = sum_dict_values(my_dict)
print("Sum of values:", total)

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [ ]:
list_numbers = [1, 2, 3, 4, 5]  
list_sorted = sorted(list_numbers, reverse=True)
print(list_sorted)

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [ ]:
def longest_string(strings):
    if not strings:
        return None
    longest = strings[0]
    for s in strings:
        if len(s) > len(longest):
            longest = s
    return longest

string_list = ["apple", "banana", "cherry", "blueberry", "kiwi"]
longest = longest_string(string_list)
print("The longest string is:", longest)

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [ ]:
numbers = [1, 2, 3, 4, 5]
# Check if all elements are greater than 0
result = all(num > 0 for num in numbers)

print(result)

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [ ]:
list_numbers = [1, 2, 3, 4, 5]# Create the list of tuples
squares = [(num, num ** 2) for num in range(1, 6)]


print(squares)

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [ ]:
def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list]

sample_list = [(1, 'a'), (2, 'b'), (3, 'c')]
result = get_second_elements(sample_list)
print(result)

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [ ]:
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

nested = [[1, 2], [3, 4], [5]]
flat = flatten_list(nested)
print(flat)

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [ ]:
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [ ]:
def is_tuple_empty(t):
    return len(t) == 0

my_tuple = ()
if is_tuple_empty(my_tuple):
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [ ]:
even_numbers = list(range(2, 21, 2))
print(even_numbers)

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [ ]:
def reverse_list(numbers):
    return numbers[::-1]

original = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original)
print(reversed_list)


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [ ]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [ ]:
listA = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(listA))
print(unique_list)


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [ ]:
def list_of_dictionaries(keys, values):
    return [dict(zip(keys, value_tuple)) for value_tuple in values]
keys = ['name', 'age', 'city']
values = [
    ('Gedeon', 30, 'Brazzaville'),
    ('Mardochet', 25, 'OUESSO'),
    ('LEKOUNDA', 35, 'Pointe-Noire')
]
result = list_of_dictionaries(keys, values)
print(result)


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [ ]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

for num in fibonacci_generator(10):
    print(num)


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [ ]:
def unique_characters(s):
    return list(set(s))

text = "hello world"
unique_chars = unique_characters(text)
print(unique_chars)


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [ ]:
def two_sorted_lists(list1, list2):
    return sorted(list1 + list2)

list1 = [1, 5, 2, 3]
list2 = [8, 4, 7, 6]
merged_sorted = two_sorted_lists(list1, list2)
print(merged_sorted)


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [ ]:
tuple_list = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(tuple_list)

print(result_dict)


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [ ]:
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

a = {1, 2, 3}
b = {3, 4, 5}
result = symmetric_difference(a, b)
print(result)


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [ ]:
def find_common_elements(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [0, 2, 3, 7]

common = find_common_elements(list1, list2, list3)
print("Common elements:", common)


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [ ]:
def factorial(n):
    if n < 0:
        print("Factorial is not defined for negative numbers.")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # Output: 120


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [ ]:
fruits = ["apple", "", "banana", "", "cherry"]
filtered_fruits = [fruit for fruit in fruits if fruit != ""]

print(filtered_fruits)


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [ ]:
def swap_keys_values(d):
    return {value : key for key, value in d.items()}

original_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = swap_keys_values(original_dict)
print(swapped_dict)


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [ ]:
def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

original_list = [1, 2, 3, 4, 5, 6]
even_list = get_even_numbers(original_list)
print(even_list)


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [ ]:
def get_first_elements(tuple_list):
    return [t[0] for t in tuple_list]

tuples = [(10, 20), (30, 40), (50, 60)]
first_elements = get_first_elements(tuples)
print(first_elements)

In [ ]:
def get_first_elements(tuple_list):
    return [t[0] for t in tuple_list]

tuples = [(1, 2), (3, 4), (5, 6)]
first_elements = get_first_elements(tuples)
print(first_elements)


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [ ]:
def remove_duplicates_ordered(lst):
    seen = set(lst)
    result = list(seen)
    return result

original_list = [1, 2, 2, 3, 1, 4, 3]
cleaned_list = remove_duplicates_ordered(original_list)
print(cleaned_list)


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [ ]:
list_1 = ["aaa","bbb", "ccc", "ddd"]
res = map(len, list_1)
print(list(res))


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [ ]:
def calculate_average(input_list):
    res = 0 
    for i in input_list:
        res += i 
    return (res/len(input_list))

list_2 = [1,2,3,4,6,8]

print("la moyenne de la list : ", calculate_average(list_2))


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [ ]:
def fibonnaci_number(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        fib_list = [0, 1]
        while len(fib_list) < n:
            next_fib = fib_list[-1] + fib_list[-2]
            fib_list.append(next_fib)
        return fib_list
    
print(" le resultat de la suite de fibonnaci : ", fibonnaci_number(10))


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [ ]:
from collections import Counter

# The input list
fruits = ["apple", "banana", "apple", "cherry"]

# Use Counter to count the occurrences of each element
element_counts = Counter(fruits)

# Print the results
print(element_counts)


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [11]:
def remove_occurrences(input_list, value_to_remove):
      return [item for item in input_list if item != value_to_remove]


my_list = [1, 2, 3, 4, 2, 5, 2, 6]
value = 2

new_list = remove_occurrences(my_list, value)
print(f"Original list: {my_list}")
print(f"Value to remove: {value}")
print(f"List after removing all occurrences of {value}: {new_list}")

Original list: [1, 2, 3, 4, 2, 5, 2, 6]
Value to remove: 2
List after removing all occurrences of 2: [1, 3, 4, 5, 6]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [13]:
def get_vowel_starting_strings(input_list):
    vowels = "aeiouAEIOU"
    vowel_strings = []
    for word in input_list:
        if word and word[0] in vowels:
            vowel_starting_strings.append(word)
    return vowel_starting_strings


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1.intersection(set2)
print(f"The intersection using .intersection() is: {intersection_set}")

The intersection using .intersection() is: {4, 5}


---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [14]:
def allelements_unique(input_list):
    return len(input_list) == len(set(input_list))

list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 2, 5]
list3 = []
list4 = ["apple", "banana", "cherry"]
list5 = ["apple", "banana", "apple"]

List 1: [1, 2, 3, 4, 5] - All elements unique? True
List 2: [1, 2, 3, 2, 5] - All elements unique? False
List 3: [] - All elements unique? True
List 4: ['apple', 'banana', 'cherry'] - All elements unique? True
List 5: ['apple', 'banana', 'apple'] - All elements unique? False


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [ ]:
from functools import reduce

numbers = [2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)

print(product)


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [ ]:
def strings_to_length_dict(strings):
    return {s : len(s) for s in strings}

words = ["apple", "banana", "cherry"]
result = strings_to_length_dict(words)
print(result)


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

text = "Hello, World!"
vowel_count = count_vowels(text)
print(f"Number of vowels: {vowel_count}")


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [ ]:
factorials = [(n, factorial(n)) for n in range(1, 6)]

print(factorials)


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [86]:
def merge_dicts(dict_list):

    merge = {}
    for d in dict_list:
        merge.update(d)
    return merge

dicts = [{'a': 1}, {'b': 2}, {'c': 3}, {'a': 4}]
result = merge_dicts(dicts)
print(result)

{'a': 4, 'b': 2, 'c': 3}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [ ]:
def is_subset(small_set, large_set):

    return small_set.issubset(large_set)

a = {1, 2}
b = {1, 2, 3, 4}

print(is_subset(a, b))  # Output: True
print(is_subset(b, a))  # Output: False


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [ ]:
def sort_by_second_element(tuples_list):
    pass


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [87]:
def filter_positive_numbers(numbers):
    positive_numbers = []
    for num in numbers:
        if num > 0:
            positive_numbers.append(num)
    return positive_numbers

liste = [-3, 0, 4, -1, 7, 2]
resultat = filter_positive_numbers(liste)
print("Nombres positifs :", resultat)

Nombres positifs : [4, 7, 2]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [88]:
def union_of_sets(set1, set2):

    if not isinstance(set1, set) or not isinstance(set2, set):
        raise TypeError("parameters must have a union.")
  
    return set1.union(set2)

a = {1, 2, 3}
b = {3, 4, 5}

resultat = union_of_sets(a, b)
print("Union des ensembles :", resultat)

Union des ensembles : {1, 2, 3, 4, 5}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [89]:
def product_of_numbers(numbers):

    if not numbers:
        return 0 
    product = 1
    for num in numbers:
        product *= num
    return product

liste = [2, 3, 4]
resultat = product_of_numbers(liste)
print("Product is :", resultat)

Product is : 24


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [2]:
def char_list_to_string(char_list):

  return "".join(char_list)

charactersList = ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']
stringList = char_list_to_string(charactersList)
print(f"The list of characters: {charactersList}")
print(f"The converted string: {stringList}")

The list of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']
The converted string: Hello, World!


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [3]:
a = [10, 20, 4, 45, 99]

max1 = max2 = float('-inf')

for n in a:
  
    if n > max1:
        max2 = max1  
        max1 = n     
        
    elif n > max2 and n != max1:
        max2 = n  

print(max2)

45


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [ ]:
def get_sorted_keys(input_dict):
  return sorted(input_dict.keys())


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [7]:
from collections import Counter

def find_most_common_element(input_list):
    if not input_list:
        return None
    element_counts = Counter(input_list)
    common= element_counts.most_common(1)
    most_common = common[0][0]
    return most_common

my_list = [1, 2, 3, 2, 1, 4, 2, 5, 2, 3, 1]
common_element = find_most_common_element(my_list)
print(f"The most common element in {my_list} is: {common_element}")

The most common element in [1, 2, 3, 2, 1, 4, 2, 5, 2, 3, 1] is: 2


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [8]:
def sort_tuples(list_of_tuples):
    return sorted(list_of_tuples, key=lambda x: x[0])


data = [("apple", 3), ("banana", 1), ("cherry", 2)]
sorted_data = sort_tuples(data)

print(f"Original list: {data}")
print(f"Sorted list: {sorted_data}")

Original list: [('apple', 3), ('banana', 1), ('cherry', 2)]
Sorted list: [('apple', 3), ('banana', 1), ('cherry', 2)]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [ ]:
def find_min_max(numbers):

    if not numbers: 
        return None, None
    
    min_num = numbers[0]
    max_num = numbers[0]
    
    for num in numbers[1:]:
        if num < min_num:
            min_num = num
        elif num > max_num:
            max_num = num
    
    return min_num, max_num


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [10]:
def list_tuples(list1, list2):
      return list(zip(list1, list2))


list_a = [1, 2, 3, 4]
list_b = ['a', 'b', 'c', 'd']

result_list_tuples = list_tuples(list_a, list_b)
print(f"List 1: {list_a}")
print(f"List 2: {list_b}")
print(f"List of tuples: {result_list_tuples}")

List 1: [1, 2, 3, 4]
List 2: ['a', 'b', 'c', 'd']
List of tuples: [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [ ]:
def reverse_list(string_list):
      return string_list[::-1]

my_list = ["apple", "banana", "cherry", "date"]
reversed_list = reverse_list(my_list)
print(reversed_list)


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [ ]:
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)

print(sum_of_odds([1, 2, 3, 4, 5]))  # Output: 9
print(sum_of_odds([10, 20, 30]))     # Output: 0
print(sum_of_odds([7, 11, 13]))      # Output: 31


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [ ]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]

text = input("Enter a string: ")
if is_palindrome(text):
    print("Yes, it's a palindrome.")
else:
    print("No, it's not a palindrome.")


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [ ]:
def find_median(numbers):
    sorted_nums = sorted(numbers)
    n = len(sorted_nums)
    mid = n // 2

    if n == 0:
        return None  # Handle empty list
    elif n % 2 == 1:
        return sorted_nums[mid]
    else:
        return (sorted_nums[mid - 1] + sorted_nums[mid]) / 2


data = [5, 2, 9, 1, 7]
median = find_median(data)
print("Median:", median)


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [ ]:
def sum_values_by_key(dict_list):
    total_dict = {}
    for d in dict_list:
        for key, value in d.items():
            total_dict[key] = total_dict.get(key, 0) + value
    return total_dict

data = [
    {'a': 5, 'b': 3},
    {'a': 2, 'c': 7},
    {'b': 4, 'c': 1}
]

result = sum_values_by_key(data)
print(result)  # Output: {'a': 7, 'b': 7, 'c': 8}


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [ ]:
from collections import Counter

def find_mode(numbers):
    if not numbers:
        return None  # Handle empty list
    counts = Counter(numbers)
    max_count = max(counts.values())
    mode = [num for num, count in counts.items() if count == max_count]
    return mode

# Example usage
data = [4, 1, 2, 2, 3, 4, 4]
mode_result = find_mode(data)
print("Mode:", mode_result)


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [ ]:
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

print(sum_of_squares([1, 2, 3]))     # Output: 14 (1 + 2 + 3)
print(sum_of_squares([-1, -2, 4]))   # Output: 21
print(sum_of_squares([]))           # Output: 0


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [ ]:
cubes = [(n, n**3) for n in range(1, 6)]

print(cubes)


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [ ]:
def primes_up_to(n):
    if n < 2:
        return []
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes
print(primes_up_to(20))


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [ ]:
def common_keys(dict1, dict2):
    # Use a list comprehension to avoid calling the built-in list()
    # which may be shadowed by a variable named 'list' in the notebook.
    return [k for k in dict1.keys() if k in dict2]

# Example usage
a = {'x': 1, 'y': 2, 'z': 3}
b = {'y': 10, 'z': 20, 'w': 30}

result = common_keys(a, b)
print("Common keys:", result)


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [ ]:
def filter_long_strings(strings):
    return [s for s in strings if len(s) > 5]

words = ["apple", "banana", "kiwi", "strawberry", "fig", "mango"]
result = filter_long_strings(words)
print(result)


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [ ]:
def strings_with_lengths(strings):
    return [(s, len(s)) for s in strings]

words = ["apple", "banana", "kiwi", "strawberry"]
result = strings_with_lengths(words)
print(result)


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [ ]:
def sum_dict_values(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

data = [
    {'a': 1, 'b': 2},
    {'a': 3, 'c': 4},
    {'b': 5, 'c': 6}
]

print(sum_dict_values(data))