

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [2]:
x= 10

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [3]:
is_called = True

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [4]:
name = "Python Programming"

print (name)

Python Programming

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

In [5]:
sum_result = 5+36

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

In [6]:
a, b , c = 5 , 10, 15

print (a,b,c)

5 10 15

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [12]:
x = 10 
y = x 
print("x :", x)
print("y :", y)

x : 10
y : 10

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [13]:
gravity = 9.8

print (" gravity is : ", gravity)

 gravity is :  9.8

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8```

In [14]:
country = 'Republic of Congo'

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9

```

In [15]:
age = 25 
age += 1 
print ("age : ", age)

age :  26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

In [16]:
substr = (20 -7)
print ("result of substracting :", substr )

result of substracting : 13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

In [18]:
first_variable = 12
first_floating = 12.50

print(" integer value : ", first_variable )
print(" ifloating value : ", first_floating )

 integer value :  12
 ifloating value :  12.5

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

In [19]:
is_completed = False

---
### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

In [21]:
x = 15
y= 10
print(" x value : ", x)
print(" y value : ", y)
temp = 15
x= 10
y=temp
print(" after swaping ")
print(" x value : ", x)
print(" y value : ", y)

 x value :  15
 y value :  10
 after swaping
 x value :  10
 y value :  15

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [23]:
cmp_number = 3+4j
print("complex number : ", cmp_number)

complex number :  (3+4j)

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

In [24]:
x = "je suis une nouvelle variable "
print("new value of x : "+ x)

new value of x : je suis une nouvelle variable

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [25]:
first_name = "Mardochet Gedeon "
last_name =  "LEKOUNDA"

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [27]:
temperature = 35.5
print ("temperature : ", temperature )

temperature :  35.5

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

In [28]:
product = 8*6 
print ("Le produit total  : ", product)

Le produit total  :  48

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19

In [29]:
sentence = "This is a sentence specially made by me"

---
### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [30]:
string_value ='50'
int_value = int(string_value)
string_value 
int_value

50

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

In [31]:
quotient = 144//12
print(" division entiere : " , quotient)
quotient = 144/12
print(" division ecludienne : " , quotient)

 division entiere :  12
 division ecludienne :  12.0

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

In [38]:
remainder = 47%5 
print(" remainder : ", remainder)

 remainder :  2

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

In [39]:
is_student = True

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [40]:
store = 45%4
print(store)

1

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [41]:
pi = 3.14159
print(pi)

3.14159

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [42]:
length=40
width = 20

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [43]:
 negative_value = -2 
 print(negative_value)

-2

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [46]:
greeting = 'Hello word'
print(greeting)

Hello word

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

In [48]:
population =9999999

print("the most highest nomber in french" , population )

the most highest nomber in french 9999999

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [50]:
pwd = 2**8 
print("Power of 2 ", pwd )

Power of 2  256

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [51]:
fruits = ['mangoes', 'apple' , 'peannuts']

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

coordinates = (1,2,3)
coordinates

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [33]:
person = {'name': 'Lekounda' , 'age': 12}
person

{'name': 'Lekounda', 'age': 12}

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [34]:
sum = 1.20+1.50
print(sum)

2.7

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [35]:
is_sunny = 10>5
print(is_sunny)

True

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [53]:
string_number = "Good morning"
integer_number = 10000

print(string_number , "to " ,integer_number , "person" )

Good morning to  10000 person

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [54]:
x = True

print(x) #it's become boolean number

True

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [55]:
is_weekend = False

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [56]:
description = """This is a multi-line string.
 including line breaks."""
 
print(description)

This is a multi-line string.
 including line breaks.

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [58]:
a = abs(-25)

print(a)

25

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [57]:
floor_div_result = 100//6 
print(floor_div_result)

16

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [66]:
mixed_sum = 12.50+52
print(mixed_sum)

64.5

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [60]:
a=15
b=20
c= a<b
print(c)

False

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [59]:
sentence = "Bonjour le monde comment allez vous ? "
print(len(sentence))

38

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [67]:
division_result = 7/3 
print(division_result)

2.3333333333333335

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [68]:
speed = 100

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [65]:
x=4
y=3*x+5

print(y)

17

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [63]:
average = (1+2+3)/3
print("average : ", average )

average :  2.0