# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
list = [1,2,3,4,5,6,7,8,9]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [7]:
nombers_tuple = ('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [4]:
numbers = [10, 20, 30, 40]
numbers_tuple = tuple(numbers)
print(numbers_tuple)

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [11]:
another_list = [1,2,3,4]
container = set(another_list)
print(container)

{1, 2, 3, 4}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [12]:
students = {'name' : "LEKOUNDA" , 'age' : 30 , 'grade' : 'Master'}
print(students)

{'name': 'LEKOUNDA', 'age': 30, 'grade': 'Master'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [13]:
mylist = [10, 20, 30, 40, 50]
print(mylist[1])

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [15]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango" 
print(fruits)

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [16]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [20]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [22]:
range_number = range(10)

print(range_number)

range(0, 10)

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [23]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [1]:
cbcb  = (1,2,2)
cbcb

(1, 2, 2)

In [2]:
numbers_tuple = tuple(num for num in range(2, 11) if num % 2 == 0)
numbers_tuple

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [35]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [37]:
numbers = {1, 2, 3, 4, 5}

print(numbers)
numbers.add(3)
print(numbers)

# Adding a new element
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [38]:
numbers = (10, 20, 30)
print(len(numbers))

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [39]:
cores = [80, 85, 90, 95]
cores.append(100)
print(cores)

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [12]:
def sum_list_elements(input_list):
      total = 0
      for item in input_list:
        total = total + item
      return total


my_numbers = [10, 20, 30, 40, 50]

result = sum_list_elements(my_numbers)
print(f"The sum of the elements in the list is : {result}")

The sum of the elements in the list is : 150

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [41]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers_set = set(numbers)
print(unique_numbers_set)

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [5]:
my_string = "hello"
char_list = list(my_string)
print(char_list)

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [11]:
number_tuple= (1,2,3,4)
print(number_tuple[::-1])

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [1]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [2]:
squares_dict = {num : num**2 for num in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [6]:
dictA = {"a": 15, "b":25 , "c":20, "d":26, "e" :15 }

for key, value in dictA.items():
    print(f"{key}: {value}")

a: 15
b: 25
c: 20
d: 26
e: 15

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [14]:
print(chr(65)+chr(66)+chr(67)+chr(68)+chr(69))
lowercase_alphabet = [chr(i) for i in range(65,69)]
uppercase_alphabet = [chr(i) for i in range(65,69)]
print(lowercase_alphabet)
print(uppercase_alphabet)

ABCDE
['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [17]:
listA = [1,2,3]
key = ["a", "b", "c"]
res=zip(listA,key)
print(list(res))

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [18]:
listB=[10, 20, 30, 40, 50]
print(listB.index(50))

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [22]:
names = ["Alice", "Bob", "Franck", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Franck']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [26]:
def find_largest_number(numbers):
    if not numbers:
        raise ValueError("The input list cannot be empty.")
  
    largest_num = numbers[0]  # Initialize with the first element
    for num in numbers:
        if num > largest_num:
            largest_num = num
    return largest_num

list_intergers = [1,2,4,6,9,7,8]
largestnumber = find_largest_number(list_intergers)
print(largestnumber)

9

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [1]:
fruits = ["apple", "banana", "apple", "orange"]
print(fruits.count("apple"))

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [2]:
person = {"name": "Alice","age": 25,"city": "New York"}
print(person["city"])

New York

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [ ]:
def remove_duplicates(input_list):
    return list(set(input_list))

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [3]:
def intersection_of_lists(list1, list2):
    return list(set(list1) & set(list2))    
listA = [1, 2, 3, 4, 5]
listB = [4, 5, 6, 7, 8]
common_elements = intersection_of_lists(listA, listB)
print(common_elements)

[4, 5]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [4]:
def square_generator():
    for i in range(1, 11):
        yield i ** 2
# Example usage
for square in square_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [5]:
def sum_dict_values(data):
    return sum(data.values())


my_dict = {"a": 10, "b": 20, "c": 30}
total = sum_dict_values(my_dict)
print("Sum of values:", total)

Sum of values: 60

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [6]:
list_numbers = [1, 2, 3, 4, 5]  
list_sorted = sorted(list_numbers, reverse=True)
print(list_sorted)

[5, 4, 3, 2, 1]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [8]:
def longest_string(strings):
    if not strings:
        return None
    longest = strings[0]
    for s in strings:
        if len(s) > len(longest):
            longest = s
    return longest

string_list = ["apple", "banana", "cherry", "blueberry", "kiwi"]
longest = longest_string(string_list)
print("The longest string is:", longest)

The longest string is: blueberry

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [10]:
numbers = [1, 2, 3, 4, 5]
# Check if all elements are greater than 0
result = all(num > 0 for num in numbers)

print(result)

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [ ]:
list_numbers = [1, 2, 3, 4, 5]# Create the list of tuples
squares = [(num, num ** 2) for num in range(1, 6)]


print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [12]:
def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list]

# Example usage
sample_list = [(1, 'a'), (2, 'b'), (3, 'c')]
result = get_second_elements(sample_list)
print(result)

['a', 'b', 'c']

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [13]:
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

nested = [[1, 2], [3, 4], [5]]
flat = flatten_list(nested)
print(flat)

[1, 2, 3, 4, 5]

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [14]:
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [15]:
def is_tuple_empty(t):
    return len(t) == 0

my_tuple = ()
if is_tuple_empty(my_tuple):
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [24]:
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [16]:
def reverse_list(numbers):
    return numbers[::-1]

# Example usage
original = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original)
print(reversed_list)

[5, 4, 3, 2, 1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [ ]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [19]:
listA = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(listA))
print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [ ]:
def list_of_dictionaries(keys, values):
    return [dict(zip(keys, value_tuple)) for value_tuple in values]
keys = ['name', 'age', 'city']
values = [
    ('Gedeon', 30, 'Brazzaville'),
    ('Mardochet', 25, 'OUESSO'),
    ('LEKOUNDA', 35, 'Pointe-Noire')
]
result = list_of_dictionaries(keys, values)
print(result)

[{'name': 'Gedeon', 'age': 30, 'city': 'Brazzaville'}, {'name': 'Mardochet', 'age': 25, 'city': 'OUESSO'}, {'name': 'LEKOUNDA', 'age': 35, 'city': 'Pointe-Noire'}]


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [22]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Example usage
for num in fibonacci_generator(10):
    print(num)

0
1
1
2
3
5
8
13
21
34


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [23]:
def unique_characters(s):
    return list(set(s))

# Example usage
text = "hello world"
unique_chars = unique_characters(text)
print(unique_chars)

['h', ' ', 'w', 'o', 'r', 'l', 'e', 'd']


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [26]:
def two_sorted_lists(list1, list2):
    return sorted(list1 + list2)

# Example usage
list1 = [1, 5, 2, 3]
list2 = [8, 4, 7, 6]
merged_sorted = two_sorted_lists(list1, list2)
print(merged_sorted)

[1, 2, 3, 4, 5, 6, 7, 8]


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [28]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```


---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---